.sb-modal-wrapper {
  position: absolute;
  margin: auto;
  max-width: 500px;
  height: 600px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: 290px;
  z-index: 100;
}
.sb-modal-box {
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
}
.sb-modal-box .sb-header {
  padding: 13px 10px 10px 10px;
  display: flex;
}
.sb-modal-box .sb-header label {
  color: var(--highlight-color);
  margin: 3px;
}
.sb-modal-box .sb-prompt {
  padding: 13px 10px 10px 10px;
}
.sb-modal-box .sb-prompt label {
  font-weight: bold;
}
.sb-modal-box .sb-prompt .sb-mini-editor {
  border: 1px solid #333;
  margin: 10px 0;
}
.sb-modal-box .sb-help-text {
  padding: 5px;
}
.sb-modal-box .sb-result-list {
  max-height: 216px;
  overflow-y: scroll;
}
.sb-modal-box .sb-result-list .sb-icon {
  padding: 0 8px 0 5px;
  position: relative;
  top: 3px;
}
.sb-modal-box .sb-option,
.sb-modal-box .sb-selected-option {
  padding: 8px;
  cursor: pointer;
  line-height: 20px;
}
.sb-modal-box .sb-selected-option {
  background-color: var(--highlight-color);
}
.sb-modal-box .sb-option .sb-hint,
.sb-modal-box .sb-selected-option .sb-hint {
  float: right;
  margin-right: 0;
  margin-top: -4px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
}
